body {background-color:#b0c4de;}
h1   {text-align: center;font-size:36pt;color:#5758BB;}
h2   {text-align: center;color:#4b6584;}
p    {text-align: center;color:#B53471}
img {
    display: block;
    margin: auto;
    width: 40%;
}

