body {background-color:#b0c4de;}
h1   {font-size:36pt;color:#5758BB;}
h2   {color:#4b6584;}
p    {margin-left:50px;color:#B53471}
img {
    display: block;
    margin: auto;
    width: 40%;
}
div{
			height: 200px;
			width:200px;
			background-color: #dea46b;
			text-align: center; 
			line-height: 200px;
			margin:auto;
		}
